---
title: Home
layout: main
permalink: /
order: 10
---

<article class="page-container">
    <div class="content">
        <h2 class="group-title">Web pages / templates</h2>
        {% assign showCollection = site.data.prj-list.pages %}
        {% for prj in showCollection limit:3 %}
            {% include collection.html %}
        {% endfor %}
        <h3 class="group-title"><a href="{{site.baseurl}}/web-pages">More ...</a></h3>
    </div>
</article>
<div class="parallax-img"></div>
<article class="page-container">
    <div class="content">
        <h2 class="group-title">Simple animations</h2>
        {% assign showCollection = site.data.prj-list.animations %}
        {% for prj in showCollection limit:3 %}
            {% include collection.html %}
        {% endfor %}
        <h3 class="group-title"><a href="{{site.baseurl}}/simple-animations">More ...</a></h3>
    </div>
</article>
<div class="parallax-img"></div>
<article class="page-container threejs">
    <div class="content">
        <h2 class="group-title">Three.JS</h2>
        {% assign showCollection = site.data.prj-list.threeJS %}
        {% for prj in showCollection limit:3 %}
            {% include collection.html %}
        {% endfor %}
        <h3 class="group-title"><a href="{{site.baseurl}}/threejs">More ...</a></h3>
    </div>
</article>
<div class="parallax-img"></div>


<script>
    document.body.classList.add("home");
</script>
