---
layout: main
permalink: /simple-animations/
---

<article class="collection-page-container">
    <div class="drop-shadow"></div>
    <h2 class="group-title">Simple animations</h2>
    <p class="group-title">Part of below animations are created for Codepen.io challanges. Other are created just for fun. :)</p>
    {% assign showCollection = site.data.prj-list.animations %}
    {% for prj in showCollection %}
        {% include collection.html %}
    {% endfor %}
</article>

<script>
    document.body.classList.add("collection-body-style");
</script>