* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $primaryDarkColor;
    font-family: 'Indie Flower', cursive;
    // font-family: 'Acme', sans-serif;
    // font-family: 'Kalam', cursive;
    // font-family: 'Chewy', cursive;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $primaryDarkColor;
}