$margin-top-layout: -5em;
$distortion: 6deg;
$borderRadius: 0.3em;

/*Site Colors*/
$primaryDarkColor: #471a7b;
$primaryLightColor: #efe3ff;
$shadowColor: #282031;
$orange: rgb(255, 141, 0);
$purple: rgb(103, 58, 183);

$boxShadows: 0 0 10px $primaryDarkColor;


@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin displayGrid{
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: justify;
}

@mixin headerFooterContainer{
    width: 100%;
    background-color: $primaryLightColor;
    box-shadow: 0px 0px 9px 3px $shadowColor, 0 0 25px 5px $insetShadowColor inset;
}

@mixin navMainAnimationValues {
    transform: translateY(-100px);
    animation: navBtns 0.7s ease-out forwards;
}

@mixin parallaxes ($imgLink, $imgPosition) {
    background-image: url($imgLink);
    background: linear-gradient(to bottom,rgba($orange, 0.2),rgba($purple, 0.4)),url($imgLink) $imgPosition fixed;
    background-size: cover;
}


