<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Martichka9</title>
    <link rel="icon" type="image/png" href="{{site.baseurl}}/imgs/favicon-64x64.png">
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<body>
    <!-- <img src="https://cdn.pixabay.com/photo/2016/01/20/10/53/maintenance-1151314_960_720.png" style="display: block;margin: 10% auto 0; width: 50%;" alt="under construction"> -->

    {% include header.html %}
    <main>
        {{content}}
    </main>
    {% include footer.html %}

</body>
</html>